<br>
<div class="col-md-12 offset-md-0" *ngIf="showUser">
	<div class="row">
		<div class="col-3">
			<p class="listP"> Record Type List</p>
		</div>
		<div class="col-2 offset-md-1">
			<button (click) = "addRecordType()" class = "btn btn-add" *ngIf="showAdmin" > <i class='fas fa-plus'></i> Add New </button>
		</div>
		<div class="col-3 offset-md-1">
			<input  type="text" class="form-control" placeholder="Search by name" [(ngModel)]="name" />
		</div>
		<div class="col-2">
			<button class="btn btn-search" type="button" (click)="searchRecordTypes()" > <i class='fas fa-search'></i> Search </button>
		</div>
	</div>
</div>


<div class="table-responsive" *ngIf="showUser" >
<table class = "table table-striped table-bordered table-hover">
    <thead>
        <tr>   
            <th> Id </th>
            <th> Name </th>
            <th> Select </th>
            <th> Column 1 </th>
            <th> Column 2 </th>
            <th> Column 3 </th>
            <th> Column 4 </th>
            <th> Column 5 </th>
            <th> Column 6 </th>
            <th> Column 7 </th>
            <th> Column 8 </th>
            <th> Column 9 </th>
            <th class="fixno"> Actions </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let recordtype of recordtypes" >
            <td> {{ recordtype.id }} </td>
            <td> {{ recordtype.name }} </td>
            <td> <button (click) = "selectRecordType(recordtype.id)" class = "btn btn-select" *ngIf="showUser"> <i class="fa fa-check-square"></i> Select </button> </td>
            <td> {{ recordtype.column1 }} </td>
            <td> {{ recordtype.column2 }} </td>
            <td> {{ recordtype.column3 }} </td>
            <td> {{ recordtype.column4 }} </td>
            <td> {{ recordtype.column5 }} </td>
            <td> {{ recordtype.column6 }} </td>
            <td> {{ recordtype.column7 }} </td>
            <td> {{ recordtype.column8 }} </td>
            <td> {{ recordtype.column9 }} </td>
            <td>            	
                <button (click) = "updateRecordType(recordtype.id)" class = "btn btn-update" *ngIf="showAdmin"> <i class='fas fa-pencil-alt'></i> Update</button>
                <button (click) = "deleteRecordType(recordtype.id)" class = "btn btn-delete" *ngIf="showAdmin">  <i class='fas fa-trash-alt'></i> Delete</button>
            </td>
        </tr>
    </tbody>
</table>
<br>
<button class="btn btn-search" type="button" (click)="excel()" *ngIf="showUser"> <i class='fas fa-file-excel'></i> Excel </button>
<br>
<br>
<br>
</div>
