<div id="app">
  <nav class="navbar navbar-expand-sm">    
  		<div class="logo">
        	<img src="assets/images/logo.jpg" alt="logo" />   <!-- width="50" height="50" -->
        </div>
    <ul class="navbar-nav mr-auto ml-5" routerLinkActive="active">
      <li class="nav-item ml-2" *ngIf="showUser">
        <a href="/recordtypes" class="nav-link" routerLink="recordtypes"><i class="fa fa-home"></i> Home </a>
      </li>
      <li class="nav-item ml-3" *ngIf="showAdmin">
        <a href="/users" class="nav-link" routerLink="users"> <i class='fas fa-users'></i> Users</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto mr-4" *ngIf="!isLoggedIn">
      <li class="nav-item mr-3">
        <a href="/login" class="nav-link" routerLink="login"> <i class="fas fa-sign-in-alt"></i> Login</a>
      </li>
      <li class="nav-item mr-1">
      <button (click) = "exit()" class = "btn btn-exit" > <i class='fas fa-window-close'> </i> Close </button>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto mr-2" *ngIf="isLoggedIn">
      <li class="nav-item mr-1">
        <a href="#" class="nav-link" routerLink="active"> <i class='fas fa-user-alt'></i> {{ username }}</a>
      </li>
      <li class="nav-item mr-3">
        <a href class="nav-link" (click)="logout()"> <i class="fas fa-sign-out-alt"></i> LogOut</a>
      </li>
      <li class="nav-item mr-1">
      <button (click) = "exit()" class = "btn btn-exit" > <i class='fas fa-window-close'></i> Close </button>
      </li>
    </ul>
    
  </nav>

  <div class="container-fluid">
  		<div id="screensize">
    		<router-outlet></router-outlet>
    	</div>
  </div>
  
  <div class="footer">
    <div class="footerLogo">
            <img src="assets/images/logo.jpg">
            <p>Copyright <i class="fa fa-copyright"></i> 2022, Slobodan Zdravkovic | All right reserved</p>
    </div>
</div>
  
</div>
